@tailwind base;
@tailwind components;
@tailwind utilities;

// @font-face {
//   font-family: "Arquitecta";
//   src: url("../../public/fonts/ArquitectaMedium.otf") format("otf");
//   font-weight: normal;
//   font-style: normal;
//   font-display: block;
// }

// @font-face {
//   font-family: "Arquitecta";
//   src: url("../../public/fonts/ArquitectaBold.otf") format("otf");
//   font-weight: bold;
//   font-style: normal;
//   font-display: block;
// }
@font-face {
  font-family: "Arquitecta";
  src: url("../../public/fonts/Arquitecta.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Arquitecta";
  font-size: 16px;
}
